<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testSuite1">
  <test thread-count="5" name="Test1">
	  <groups>
		  <run>
			  <include name="sanity"></include>
		  </run>
		  
	  </groups>
    <classes>
      	<class name="testSuite1.module1">
       		<methods>
		 		<include name = "test001">
			 	</include> 
       		</methods>
       	</class>
       	
      	<class name="testSuite1.module2">
      		<methods>
		  		<exclude name = "test001">
		  		</exclude>
		  	</methods>
      	</class>
      	
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- testSuite1 -->
